.recruitPage {
  .careersPage {
    padding: 200px 0px;
    @include flex-center();
    background-color: $color-gray;
  }
}

@media (max-width: $mobile){
  .recruitPage {
    .careersPage {
      padding: 80px 0px;
      @include flex-center();
      background-color: $color-gray;
    }
  }
}