.recruitSection {
  // background-color: $color-gray;
  width: 100%;
  @include flex-center();
  .detailsWrapper {
    padding: 200px 0px;
    max-width: 1310px;
    @include flex-center(row, 120px);
    position: relative;
    &.alternate {
      @include flex-center(row-reverse, 120px);
    }
    .imageWrapper {
      position: relative;
      flex: 63%;
      height: 440px;
      z-index: 1;
    }
    .details {
      flex: 37%;
      p {
        font-size: $font-size-base;
        font-weight: $font-weight-regular;
        letter-spacing: 0.8px;
        color: rgba($color-black, 0.8);
      }
    }
  }
}
