//font-sizes
$fs-xxl: 40px;
$fs-xl: 32px;
$fs-lg: 24px;
$fs-md: 20px;
$fs-base: 16px;
$fs-sm: 16px;
$fs-xs: 12px;

//font weights
$fw-regular: 400;
$fw-medium: 600;

// line heights

$line-height-small: 150%;
$line-height-large: 160%;
