.strength {
  padding: 200px 0px;
  width: 100%;
  text-align: center;
  color: $color-white;
  position: relative;
  @include flex-center(column, 64px);
  .titleWrapper {
    z-index: 1;
    .title {
      font-size: $font-size-xxl;
      letter-spacing: 12px;
    }
    .subTitle {
      font-size: $font-size-lg;
      letter-spacing: 7.2px;
    }
  }
  .strengthCardWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 1;
  }
  &:after {
    content: " ";
    height: 100%;
    width: 280px;
    background-color: $color-pink;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
